.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 752px;
    background: url('../../assets/images/abc.jpg');
    background-size: cover;
    background-position: center;

    // CSS Login -----------------------------------
    .box-auth {
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
        width: 360px;
        min-height: 30px;
        position: relative;
        border: 2px solid rgb(255, 0, 0);
        border-radius: 20px;
        padding: 20px 0;
        color: black;

        h2 {
            text-align: center;
            text-transform: capitalize;
            font-size: 25px;
            margin-bottom: 10px;
        }

        .input-box {
            position: relative;
            width: 310px;
            margin: 25px 0;
            border-bottom: 1px solid #000000;

            label {
                position: absolute;
                left: 0;
                transform: translateY(-50%);
                font-size: 15px;
                pointer-events: none;
                transition: 0.5s; // khi click vaò input sẽ có hiệu ứng chậm
            }

            input {
                width: 100%;
                height: 60px;
                background: transparent;
                font-size: 15px;
                margin: 0px -35px -20px 0px;
            }

            .icon {
                position: absolute;
                right: 0px;
                padding-top: 5px;
                font-size: 20px;
                line-height: 42px;

                &:hover {
                    cursor: pointer;
                }
            }

            .message-err {
                color: red;
                font-size: 15px;
                position: relative;
            }
        }

        .remember-forgot {
            display: flex;
            justify-content: space-between;
            margin: -15px 0 25px;
            font-size: 14px;

            label {
                display: flex;
                align-items: center;

                input {
                    cursor: pointer;
                    margin-right: 5px;
                }
            }
            p:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .btn-submit {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 35px;
            background-color: #df2323;
            color: #fff;
            border-radius: 40px;
            font-weight: 600;
            font-size: 16px;
            text-transform: capitalize;
            cursor: pointer;
        }

        .btn-disable {
            background-color: #606060;
            pointer-events: none;
        }

        .link {
            font-size: 14px;
            margin-top: 10px;
            display: flex;
            justify-content: center;

            p {
                margin-left: 5px;
                text-transform: capitalize;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}
