.wrapper {
    padding: 0 130px;

    .type-product {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        height: 40px;
        text-transform: capitalize;
        border-bottom: 1px solid var(--black);
    }

    .card-product {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .btn {
        display: flex;
        justify-content: center;

        .btn-xemthem {
            font-size: 18px;
            width: 200px;
            margin-top: 10px;
            height: 40px;
            font-weight: 600;
            background-color: transparent;
            border: 1px solid blue;
            border-radius: 6px;

            &:hover {
                cursor: pointer;
                background-color: blue;
                color: var(--white);
            }
        }
    }
}
