.wrapper {
    padding: 15px 130px;
    display: flex;
    min-height: 350px;
    background-color: #f0f0f0;

    .column-left {
        width: 18%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 5px 10px;
        background-color: #e0e0e0;
    }

    .column-right {
        width: 82%;
        // padding: 0px 15px;
        padding-left: 15px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        background-color: #fff;
    }
}
.pagination {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 34px;
        border: 1px solid blue;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background-color: blue;
            color: white;
        }
    }
}
