.wrapper {
    .text-categories,
    .checkbox-place {
        padding-bottom: 6px;
        display: flex;
        flex-direction: column;

        .text-label {
            padding: 5px 0 0 10px;
            color: var(--text-color);
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            border-bottom: 1px solid black;
        }
    }

    .text-price {
        gap: 6px;
        display: flex;
        flex-direction: column;

        .text-label {
            padding: 5px 0 0 10px;
            color: var(--text-color);
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            border-bottom: 1px solid black;
        }
    }

    // CSS nằm trong function renderContent()
    // case 'text'
    .text-value {
        padding: 4px 0 4px 15px;
        color: rgb(0, 0, 0);
        text-transform: capitalize;
        font-size: 18px;

        &:hover {
            background-color: rgb(236, 236, 236);
            cursor: pointer;
        }
    }

    // case 'checkbox'
    .form-group-checkbox {
        display: flex;
        flex-direction: row;
        padding-left: 15px;

        .text-value-checkbox {
            padding: 4px 0 4px 15px;
            color: rgb(0, 0, 0);
            text-transform: capitalize;
            font-size: 18px;
        }

        &:hover {
            background-color: rgb(236, 236, 236);
            cursor: pointer;
        }
    }

    // case 'price'
    .form-group-price {
        padding: 5px 0 5px 15px;
        font-size: 16px;
        border-radius: 15px;
        background-color: #ffffff;

        &:hover {
            cursor: pointer;
            background-color: #d5d5d5;
        }
    }
}
