.wrapper {
    .text-categories,
    .checkbox-place,
    .text-price {
        padding-bottom: 6px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        .text-label {
            padding-top: 5px;
            color: var(--text-color);
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
        }

        &::after {
            content: '';
            position: absolute;
            margin-top: 30px;
            width: 200px;
            height: 1px;
            background-color: #a3a3a3;
        }
    }

    // CSS nằm trong function renderContent()
    // case 'text'
    .text-value {
        padding-left: 10px;
        color: rgb(0, 0, 0);
        text-transform: capitalize;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: blue;
        }
    }

    // case 'checkbox'
    .form-group-checkbox {
        display: flex;
        flex-direction: row;
    }

    // case 'price'
    .form-group-price {
        padding: 10px;
        width: fit-content;
        display: flex;
        align-items: center;
        height: 30px;
        font-size: 16px;
        border-radius: 15px;
        background-color: #ffffff;

        &:hover {
            cursor: pointer;
            background-color: rgb(151, 151, 151);
        }
    }
}
