.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    background-color: #f9ff4b;

    .inner {
        padding: 0 130px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            font-size: 30px;
            text-transform: uppercase;
            color: var(--blue);
            font-weight: 600;
            cursor: pointer;
        }

        .center {
            position: relative;
            display: flex;
            align-items: center;
            width: 420px;
            height: 44px;
            padding-left: 16px;
            border: 1.5px solid transparent;
            border-radius: 92px;
            background-color: rgba(22, 24, 35, 0.06);

            input {
                flex: 1;
                color: var(--black);
                font-size: 1.6rem;
                height: 100%;
                background-color: transparent;
                padding-right: 10px;
            }

            .btn-search {
                width: 52px;
                height: 100%;
                border-top-right-radius: 92px;
                border-bottom-right-radius: 92px;
                background-color: transparent;

                svg {
                    font-size: 16px;
                }

                &:hover {
                    background-color: #eddd00;
                    cursor: pointer;
                }

                // css khi click vào sẽ có màu
                &:active {
                    background-color: rgba(22, 24, 35, 0.06);
                }
            }

            // css phần gạch dọ bên cạnh ô tìm kiếm
            &::after {
                content: '';
                position: absolute;
                right: 52px;
                width: 1px;
                height: 26px;
                background-color: rgb(159, 159, 159);
            }

            // css border khi focus vào thẻ input
            &:focus-within {
                border-color: rgba(22, 24, 35, 0.2);
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;

            .access-account {
                font-size: 16px;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .cart-icon {
                position: relative;
                display: flex;
                font-size: 18px;
                cursor: pointer;

                svg {
                    font-size: 20px;
                }

                span {
                    position: absolute;
                    text-align: center;
                    background-color: var(--blue);
                    color: var(--white);
                    font-size: 13px;
                    padding: 1.5px;
                    top: -8px;
                    right: -6px;
                    line-height: 1;
                    border-radius: 6px;
                }
            }

            .more-btn {
                font-size: 20px;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }

    &.sticky-header {
        position: sticky;
        top: 0;
        // animation: stickyHeader 0.5s ease forwards;
    }
}

@keyframes stickyHeader {
    0% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0px);
    }
}
