.wrapper-slider {
    padding: 10px 0 30px 0;

    img {
        height: 600px;
        // image-rendering: pixelated;
        // object-fit: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slick-prev {
        z-index: 10;
        left: 12px;
        background-color: red;
        /* left: -24px; */
        top: 50%;

        &::before {
            font-size: 40px;
            color: #fff;
        }
    }
}
