.wrapper-slider {
    padding-top: 10px;

    img {
        height: 600px;
        // image-rendering: pixelated;
        // object-fit: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
